* {    
  box-sizing: border-box;   
  margin: 0;    
  padding: 0;
  color:black;  
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 4vw;
}

section
{
	position: relative;
	margin-bottom: 200px;
}

button
{
	width: 100px;
	height: 50px;
	margin-top: 50px;
	font-family: 'DM Serif Display', serif;
}

.flyp
{
	margin: 1%;
	font-family: arial;
	color:white;
}

.titre_page
{
	margin: 3%;
	font-family: 'DM Serif Display', serif;
	font-size: 10vw;
	color:white;
}

.text_page
{
	color: white;
}

.textarea
{
	width: 20%;
	height: 40px;
	max-width: 50%;
}

.text_bloc
{
	margin:30px;
}

/*------------------------------------------------Ordinateur-------------------------------------------------------------*/
@media screen and (min-width: 480px)
{

	button
	{
		width: 30%;
		height: 50px;
		background-color:#EC7063;
	}

	footer
	{
		display: flex;
		border-top:solid 0.2px grey;
		background-color: black;
	}

	.flyp_footer
	{
		margin: 5%;
		font-size: 30px;
		font-family: arial;
		color: white;
	}

	.tete
	{
		z-index: 2;
		position: fixed;
		width: 100%;
		display: flex;
		background-color: #20239a;
	}

	.identification
	{
		background-color: rgb(40, 40, 176);
	}

	.ligne_rep
	{
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-top: 20px;
	}

	.common-input
	{
		margin:2%;
		width: 10%;
		height:50px;
		border-radius: 10px;
		border-bottom-color:black;
		border-left-color: black;
		border-top-color: white;
	}

	.titre
	{
		padding-top: 150px;
	}

	.ss-titre
	{
		margin: 4%;
		font-family: 'DM Serif Display', serif;
		font-size: 40px;
		color: rgb(40, 40, 176);
	}

	.bloc
	{
		display: flex;
	}

	.bloc1
	{
		display: flex;
	}

	.intro
	{
		width: 50%;
		background-color: #87c9ff;
	}

	.image1_intro
	{
		width: 100%;
		height: 400px;
		background-size: cover;
		background-position: 30%;
	}

	.indication
	{
		display: none;
		text-align: left;
		margin-top: 100px;
		margin:2%;
	}

	.rep
	{
		width: 50%;
		min-height: 400px;
		margin-bottom: 10%;
	}

	.rep1
	{
		width: 50%;
		min-height: 400px;
		background-color: rgb(233, 233, 233);
		font-size: 20px;
	}

	.bull1
	{
		display: none;
		height: 100px;
		margin-left: 45%;
		background-color:rgb(27, 219, 27);
	}

	.bull2
	{
		display: none;
    	align-items: center;
    	justify-content: center;
		margin-right: 30%;
		background-color: rgb(237, 237, 237);
	}

	.common-textarea
	{
		width: 20%;
		height: 40px;
	}

	.textarea
	{
		width: 30%;
		height: 40px;
		max-width: 100%;
		max-height: 300px;
	}

	.explication
	{
		width: 50%;
		height: 600px;
	}

	.titre_bloc
	{
		margin: 5%;
	}

	.titre_bloc1
	{
		margin: 5%;
		font-size:70px;
		text-align: left;
	}

	.container
	{
		height: 400px;
		background-color: rgb(40, 40, 176);
	}

	.asterix
	{
		font-size: 50px;
		font-family: arial;
		color:#EC7063;
	}

	.unite
	{
		display: none;
	}

	.categorie
	{
		display: block;
	}

	.categorie1
	{
		display: block;
	}

	.categorie2
	{
		display: block;
	}

	.categorie3
	{
		display: block;
	}

	.categorie4
	{
		display: block;
	}

	.categorie5
	{
		display: block;
	}

	.infolegale
	{
		display: none;
	}

}

/*------------------------------------------------Téléphone-------------------------------------------------------------*/
@media screen and (max-width: 480px)
{
	body
	{
		background-color: rgb(241, 241, 241);
		overflow-x: hidden;
	}

	button
	{
		width: 40%;
		height: 50px;
		border-radius: 20px;
		background-color: rgb(76, 170, 228);
	}

	span 
	{
		display: none;
	}

	textarea
	{
		border-color:transparent;
	}

	footer
	{
		display: flex;
		border-top:solid 0.2px grey;
	}

	.flyp_footer
	{
		margin: 5%;
		font-size: 10px;
	}

	.tete
	{
		z-index: 2;
		display: none;
		position: fixed;
		width: 100%;
		background-color: #20239a;
	}

	.common-input
	{
		margin:2%;
		width: 40%;
		height:50px;
		border-radius: 10px;
		border-bottom-color:black;
		border-left-color: black;
		border-top-color: white;
	}

	.titre
	{
		padding-top: 100px;
	}

	.container
	{
		height: 300px;
		background-color: blueviolet;
	}

	.identification
	{
		background-color: blueviolet;
	}


	.ss-titre
	{
		display: none;
		margin: 5%;
		font-family: 'DM Serif Display', serif;
		font-size:30px;
		color: rgb(40, 40, 176);
	}

	.bloc
	{
		display: block;
		min-height: 100px;
		margin:3%;
		margin-bottom: 20px;
		border-radius: 15px;
		background-color:white;
		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31);
		text-align: center;
	}

	.bloc1
	{
		display: block;
		text-align: center;
	}

	.intro
	{
		padding-top: 10px;
		padding-bottom: 30px;
		margin:2%;
		margin-top: 15%;
		background-color: white;
		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31)inset;
		border-radius: 15px;
	}

	.image1_intro
	{
		display: none;
		width: 100%;
		height: 300px;
		background-size: cover;
		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31);
		background-position: 30%;
	}

	.titre_intro
	{
		height: 50%;
	}

	.titre_bloc1
	{
		font-family: 'DM Serif Display', serif;
		font-size: 10vw;
		margin-left: 10%;
		margin-right:10%;
		margin-bottom: 15%;
		text-align: left;
	}

	.intro_quest
	{
		text-align: left;
		margin:10%;
	}

	.indication
	{
		text-align: left;
		margin: 10%;
		color: blueviolet;
	}

	.rep
	{
		width: 100%;
		min-height: 300px;
	}

	.categorie
	{
		margin-bottom: 0%;
	}

	.categorie1
	{
		display: none;
		animation-duration: 0.5s;
		animation-name: apparition;
	}

	@keyframes apparition {
		  from {
		    width: 300%;
		  }

		  to {
		    width: 100%;
		  }
		}

	.categorie2
	{
		display: none;
		animation-duration: 0.5s;
		animation-name: apparition;
	}

	.categorie3
	{
		display: none;
		animation-duration: 0.5s;
		animation-name: apparition;
	}

	.categorie4
	{
		display: none;
		animation-duration: 0.5s;
		animation-name: apparition;
	}

	.categorie5
	{
		background-color:transparent;
	}

	.bull1
	{
		display: flex;
    	align-items: center;
    	justify-content: center;
		min-height: 50px;
		min-width: 40%;
		margin:10%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		margin-right: 5%;
		margin-left: 40%;
		background-color: rgb(43, 231, 43);
		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31);
	}

	.bull2
	{
		display: flex;
    	align-items: center;
    	justify-content: center;
		min-height: 50px;
		margin: 5%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		margin-right: 30%;
		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31);
		background-color: white;
	}

	.question1
	{
		margin: 10%;
	}

	.rep1
	{
		min-width: 40%;
		min-height: 100px;
		font-size: 20px;
		margin-right: 30%;
		border-color: transparent;
		background-color: white;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.ligne_rep
	{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60%;
		min-height: 100px;
		margin:10%;
		margin-left:5%;
		margin-top: 20px;
		margin-right: 30%;
		background-color: white;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31);
		border-bottom-right-radius: 20px;
	}

	.ligne_rep2
	{
		display: block;
		align-items: center;
		justify-content: center;
		width: 60%;
		min-height: 100px;
		margin:10%;
		margin-left:5%;
		margin-top: 20px;
		margin-right: 30%;
		background-color: white;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31);
		border-bottom-right-radius: 20px;
	}

	.ligne_rep1
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 100px;
		margin:5%;
		font-size: 15px;
	}

	.common-textarea
	{
		width: 60%;
		height: 40px;
		/*margin: 10%;*/
	}

	.textarea
	{
		width: 60%;
		height: 60px;
		max-width: 100%;
		max-height: 150px;
	}

	.textarea1
	{
		width: 25vw;
		height: 10vh;
		max-width: 100%;
        max-height: 150px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 5px;
        box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31)inset;
	}

	.textarea2
	{
		width: 50vw;
        height: 15vh;
        max-width: 100%;
        max-height: 150px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 5px;
        box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31)inset;
	}

	.explication
	{
		display: none;
		width: 100%;
		height: 500px;
	}

	.asterix
	{
		display: none;
	}

	.unite
	{
		margin-left: 10px;
	}

	.infolegale
	{
		margin-top: 20%;
		margin-left: 5%;
		font-size:30px;
		text-align: left;
	}

	.dropdown-btn
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}
	.dropdown-btn1
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn2
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn3
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn4
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn5
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn6
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn7
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn8
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn9
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn10
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn11
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.dropdown-btn12
	{
		display: flex;
		align-items: center;
		justify-content: center;
		color:blueviolet;
		margin-right: 12%;
		height: 50px;
		width: 15%;
		background-color: white;
	}

	.infolegale_regle
	{
		text-align: left;
		margin:10%;
		margin-left: 5%;
	}

	.active 
	{
	  color: blueviolet;
	}

	.dropdown-container {
	  display: none;
	}

	.nomrep
	{
		font-size: 12px;
	}

	.rapport
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: baseline;
		align-content: normal;
	}

	.flex-items:nth-child(1) {
	  display: block;
	  flex-grow: 0;
	  flex-shrink: 1;
	  flex-basis: auto;
	  align-self: auto;
	  order: 0;
	}

	.flex-items:nth-child(2) {
	  display: block;
	  flex-grow: 0;
	  flex-shrink: 1;
	  flex-basis: auto;
	  align-self: auto;
	  order: 0;
	}

	.flex-items:nth-child(3) {
	  display: block;
	  margin-left:10%;
	  flex-grow: 0;
	  flex-shrink: 1;
	  flex-basis: auto;
	  align-self: auto;
	  order: 0;
	}

	.Moyenne
	{
		font-size: 80px;
		color:blueviolet;
	}

	.Les_Notes
	{
		font-size: 4vw;
	}

	.EnvoiIndicateur
	{
        width: 40%;
        height: 50px;
        margin-bottom: 20px;
        border-radius: 10px;
        font-size: 15px;
        color:white;
        font-family: 'Rubik', sans-serif;
        border-style: none;
        background-color: rgb(137, 123, 226);
	}

	.mail{
    	display: flex;
    	align-items: center;
    	justify-content: center;
	}

	#div1{
    	border: 1px solid rgb(221, 221, 221);
    	border-radius:5px;
    	color: cadetblue;
    	padding: 15px;
  		width:  90%;
  		height: 150px;
  		text-align: left;
  		overflow-y: scroll;
  		margin-bottom: 12px;
  		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31)inset;
    }

    .client {
	    display: flex;
	    min-height: 20px;
	    margin-bottom: 10px;
	    align-items: center;
	    justify-content: space-around;
	}

	.item {
	    width: 10em;
	}

	.clienttxt{
		border: 1px solid rgb(221, 221, 221);
    	border-radius:5px;
  		box-shadow: 0 11px 13px -8px rgba(85, 88, 213, 0.31)inset;
	}

}










