button 
{
  padding: 5px;
  width: 70%;
  font-size: 15px;
  background-color: transparent;
  border-radius: 40px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

:root {
  --main-bg-color: black;
  --main-color: royalblue;
  --contact-color: red;
}

.mySlides {

	display: none;
}

.titreoverlay
{
	font-size: 50px;
	margin:4%;
}

.intro
{
	position: relative;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.titre
{
	font-size: 3rem;
}

.image1
{ 
	position:relative;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.reveal [class*="reveal_"] 
{
	opacity: 0;
	transform: translateY(-30px);
}

.reveal_visible [class*="reveal_"] 
{
	opacity: 1;
	transform: translateY(0);
	transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.textgalerie_debut
{
	width: 90%;
	margin: 0% 5%;
	color: rgba(255, 255, 255, 0.88);
}

.son
{
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
}

.titre_boutique
{
	text-decoration: underline;
	color:#908A77;
}

.titre_boutique:hover
{
	color: #E6E0CE;
}

.credit
{
	width: 100%;
	min-height: 50px;
    padding-top: 20px;
   	padding-bottom: 20px;
   	display: flex;
   	align-items: center;
   	justify-content: center;
}

.intro_credit
{
	width: 60%;
	margin-left: 20%;
}

.text_credit
{
	width: 40%;
}

.fin_credit
{
	margin-bottom: 200px;
	width: 60%;
	margin-left: 20%;
}


/*------------------------------------------------Ordinateur-------------------------------------------------------------*/
@media screen and (min-width: 480px)
{
	body 
	{
		width: 100%;
		overflow: hidden;
		text-align: center;
		height: 100%;
	}

	iframe 
	{
		width: 80%;
		height: 600px;
		margin-top: 200px;
		border-radius: 10px;
	}


	img {
	  vertical-align: middle;
	  width:100%; 
	  height: 450px;
	  background-size: cover;
	}

	sup {
		display: none;
	}

	
	.fly
	{
		border-radius: 7px;
		background-color: #87c9ff;
		margin-top: 100px;
		margin-bottom:200px;
	}

	.head_overlay
	{
		display: flex;
		justify-content: space-around;
		height: 50px;
		width: 100%;
		background-color: black;
	}

	.conteneur
	{
		height: 100%;
	}

	.back_overlay
	{
		font-family: arial;
		color: white;
	}

	.img_intro
	{
		background-color: #87c9ff;
		position: absolute;
		width: 900px;
		bottom: 0;
		overflow: hidden;
		right: 50%;
		top:30%;
		border-top-right-radius: 100%;
		animation: opacity 8s 1;
	}
	@keyframes opacity {
  		0%{
    		opacity: 0%;
  		}
	}



}

/*------------------------------------------------Téléphone-------------------------------------------------------------*/
@media screen and (max-width: 480px)
{
	body 
	{
		width: 100%;
		overflow: hidden;
		text-align: center;
		height: 100%;
	}

	iframe 
	{
		width: 95%;
		height: 246px;
		margin-top: 100px;
		margin-bottom: 100px;
		border-radius: 10px;
	}


	img {
	  vertical-align: middle;
	  width:100%; 
	  height: 300px;
	  object-fit: cover;
	}


	.head_overlay
	{
		display:flex;
		width: 100%;
		height: 60vw;
		padding-top: 50px;
		margin-top: 50px;
		margin-bottom: 50px;
		border-bottom: solid 4px var(--main-color);
		justify-content: space-around;
	}

	.dotligne
	{
		/*text-align:center; 
		position: relative; 
		margin-top: 300px; 
		margin-bottom: 50px;*/
	}

	.titre_credit
	{
		margin-top: 50px;
	}


	.back_overlay
	{
		font-family: arial;
		font-size:5vw;
		text-align: left;
		margin-top: -83vw;
	}


	.imgb 
	{
		position: absolute;
		height: 40vw;
		width: 100%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin-top: -45vw;
	}

	.immersion
	{
		display: none;
	}


	.img_intro
	{
		position: absolute;
		height: 50%;
		width: 100%;
		bottom: 0;
		animation-duration: 3s;
 	 	animation-name: slide;
	}
	@keyframes slide {
  		from {
    		height: 45%;
  		}

  		to {
   			 height: 50%;
  		}
	}


}






